@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.section-1{
    background: url(img/p8.jpg) ;
    padding: 350px 0;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: center;
}
h1{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.section-1 h1 span{
    font-size: 55px;
    font-style: italic;
    color: rgb(189, 189, 25);
}
.section-1 a{
    color: aliceblue;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: .5s;
}
.section-1 a:hover{
    border-color: rgb(191, 191, 10);
    color: rgb(186, 186, 23);
    border-radius: 10px;
}
.section-2{
    width: 250px;
    height: 250px;
    background:linear-gradient(45deg,rgb(104, 17, 17),rgb(37, 37, 161),rgb(107, 107, 10));
    margin: 100px auto;
    transition: 1s;
    transform: skewX(-20deg);
    
}
.section-2:hover{
    box-shadow:0 0 35px rgb(26, 7, 44);

}
img{
    max-width: 100%;
    display: block;
    height: 100%;
    transition: 1s;
}
.section-3{
    width: 250px;
    height: 250px;
    margin: 100px auto;
    background-color: black;
    position: relative; 
    overflow: hidden; 

}
.section-3::before{
    content:'' ;
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8;
    opacity: 0.9;
}
.section-3:hover::before{
    left: 100%;
}
.section-3:hover img{
    /* transform: rotateY(180deg);gurano  */
     /* transform: scale(5); */
    /* transform: translate();upor and nise  */

}
.box{
    width: 600px;
    height: 350px;
    background-color: rgb(10, 100, 70);
    margin: 100px auto;
    position: relative;
}
.inner-box{
    width: 180px;
    height: 180px;
    background-color: rgb(196, 41, 13);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50% ,-50%);
}
.bd{
    width:275px;
    background-color: aqua;
    margin:100px auto;
    padding: 40px 25px;
    color: #fff;
    position: relative;
}
/* .bd::after{
    content: 'good morning';
} */
/* .bd::before{
    content: 'good morning';
}  */
.bd::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: aqua;
    display: block;
    position: absolute;
    top: -10px;
    left: 45px;
    transform: rotate(45deg);
} 